  /* fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

h1{
    font-size: 65px;
    text-align: center;
    margin-bottom: 0%;
}
h2{
    font-size: 45px;
}
.greetings{
    text-align: center;
}
body{
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: #131313;
}
.nav-btn{
    margin-right: 50px;
}
header{
    background-color: rgba(255, 144, 14, 0.1);
}
.container{
    padding: 50px 140px 45px 140px;
}
.head-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 862px;
}
.head-button{
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    background-color: rgb(254, 138, 22);
    margin: 30px 0;
}
.btn-color{
    color: white;
}
.banner{
    width: 1400px;
    height: 680px;
}

/* Gallery */
.gallery{
    display: flex;
    align-items: center;
    gap: 50px;
   justify-content: center;
   margin: 100px 0;
}
.gall-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.gallery-description{
    width: 537px;
    height: 304px;
}
.dark-3{
    color: #727272;
}
/* feature section */
.feature{
    color: #FF900E;
}
.features{
    display: flex;
    justify-content: center;
    column-gap: 200px;
   margin: 100px 0;
}
.features-description{
    width: 486px;
    height: 982px
}
.feature-box{
    width: 586px;
    height: 130px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 3px 3px rgb(248, 246, 246);
    padding: 20px;
}
.feature-end{
    display:grid;

}
.ten-years{
    width: 300px;
    height: 180px;
    color: white;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    margin-bottom: 0%;
}
.exp-10{
    margin-bottom: 0%;
}
.exp-btn{
    font-size: 30px;
    margin-top: 1%;
}
/* facts section */
.facts-container{
    margin-bottom: 100px;
    width: 1440px;
    display: flex;
    flex-direction: column;
}
.facts-head{
    margin-bottom: 0%;

}
.facts{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.fact{
    display: grid;
    justify-items: center;
    border: 1px solid #FF900E;
    border-radius: 5px;
    padding: 20px;
}
.fact-count{
    margin: 2% 0;
}
/* sponsor section */
.sponsors{
    margin-bottom: 100px;
}
.sponsor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sponsor-head{
    margin-bottom: 0%;
}
.why-sponsor{
    margin: 30px 0;
}
.sponsor-logos{
    display: flex;
    justify-content: space-between;
}
.sponsor-logo{
   filter: grayscale(100%);
}



